# Rust
/target/
**/*.rs.bk

# Node
node_modules/
dist/
npm-debug.log*

# Tauri
src-tauri/target/
src-tauri/WixTools/
src-tauri/gen/

# SQLite / local data
*.db
*.db-wal
*.db-shm

# OS / editors
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
